{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}

<script>
$(document).ready(function(){
 $(document).ajaxStart(function(){
        $("#overlay").css("display","block")
        $("#wait").css("display", "block");
    });
    $(document).ajaxComplete(function(){
        $("#overlay").css("display","none")
        $("#wait").css("display", "none");
    });
});

function execute(id){
    $.ajax({url: "/runquery/"+id, type: 'POST', success: function(result){
      var obj=$.parseJSON(result)
      if(obj['status']=='FAILED'){
      $('#'+id).css("background-color", "red");
      }else{
      $('#'+id).css("background-color", "green");
      }
        $('#'+id).html(result);
 }});

}
</script>
<style>
    #tablecreate{
    color: blue;
    display: block;
    }

    #tablecreate a:hover{
    color: red;
    }

</style>
{% endblock %}
{% block content %}
<div id="overlay" onclick="off()">
  <div id="text"></div>
</div>
<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="{{ url_for('static', filename='ajax-loader.gif') }}" width="64" height="64" /><br>Loading..</div>

<table>
  <tr>
    <th class="th1">No</th>
    <th class="th2">Description</th>
    <th class="th3">Execute</th>
    <th class="th4">Result</th>
  </tr>
 {% for item in options %}
 <tr>
        <td class="col1">{{ item.id }}</td>
        <td class="col2">{{ item.desc }}</td>
        <td class="col3"><img class="bgimg" border="0" src="{{ url_for('static', filename='Start-icon.png') }}" onclick="execute('{{ item.id }}')" /></td>
        <td class="col4"><p id="{{ item.id }}">{{ item.result }}</p></td>
    </tr>

 {% endfor %}
</table>

{% endblock %}