{% extends "layout.html" %}
{% block title %}Lab{% endblock %}
{% block head %}
  {{ super() }}

<script>
$(document).ready(function(){
 $("#{{qid}}").css("color", "blue");
 $(document).ajaxStart(function(){
        $("#overlay").css("display","block")
        $("#wait").css("display", "block");
    });
    $(document).ajaxComplete(function(){
        $("#overlay").css("display","none")
        $("#wait").css("display", "none");
    });
    id=''
// Expose popup message when del button clicked:
$(".more").click(function(event) {
    event.preventDefault();
    id='#popup'+event.target.id;
    $(id).fadeIn('slow');
    return false;
});

$('.close-btn2').click(function(event) {

    event.preventDefault();
    $(id).fadeOut('slow');
    return false;

});



});

function execute(id){
    $.ajax({url: "/runquery/"+id, type: 'POST', success: function(result){
      var obj=$.parseJSON(result)
      if(obj['status']=='FAILED'){
      $('#'+id).css("background-color", "red");
      }else{
      $('#'+id).css("background-color", "green");
      }
        $('#'+id).html(result);
        $('#dt'+id).html(result);

 }});

}

function update(ev,id){
 ev.preventDefault();
 var that = $('#u'+id);
 $('#e'+id).css("display", "none");
 $('#s'+id).css("display", "inline-block");
 var rid=event.target.id

 if (that.find('input').length > 0) {
            return;
        }
        var currentText = that.text();
        var wid=that.width()
        var hig=that.height()
        that.text('');
        var $input = $('<input>').val(currentText)
        .css({

            top: '0px',
            left: '0px',
            width: wid,
            height: hig,
            opacity: 0.9,
            padding: '10px'
        });

        that.append($input);
}
/*
 it would save the query edit
*/


function save(ev,id){
 ev.preventDefault();
 $('#e'+id).css("display", "inline-block");
 $('#s'+id).css("display", "none");
 var $input=$('#u'+id+' input')
 var that = $('#u'+id);
 that.text($input.val());
  var jsonData = JSON.stringify({"ddl":$input.val()})
 $.ajax({url: "/updatequery/"+id, data: jsonData,
   contentType: "application/json",type: 'POST', success: function(result){
  console.log("success")
 } });
  that.find('input').remove();
}
</script>

{% endblock %}
{% block content %}
<div id="overlay" onclick="off()">
  <div id="text"></div>
</div>
<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="{{ url_for('static', filename='ajax-loader.gif') }}" width="64" height="64" /><br>Loading..</div>

<table>
  <tr>
    <th class="th1">No</th>
    <th class="th2">Description</th>
      <th class="th3">query</th>
    <th class="th4">Execute</th>
    <th class="th5">Result</th>
  </tr>
 {% for item in options %}
 <tr>
        <td class="col1">{{ item.id }}</td>
        <td class="col2">{{ item.desc }}</td>
        <td class="col3"><div id='u{{ item.id }}' class="{{ item.editable }}">{{ item.query }}</div>
            {% if item.editable=='true' %}
 <div>
  <div style='float: left;'>
     <button id="e{{ item.id }}" onclick="update(event,'{{ item.id }}')" class="button">edit</button>
  </div>
  <div style='float: right;'>
   <button id="s{{ item.id }}" style="display:none" onclick="save(event,'{{ item.id }}')" class="button">save</button>
  </div>
</div>
{% endif %}



        </td>
        <td class="col4"><img class="bgimg" border="0" src="{{ url_for('static', filename='Start-icon.png') }}" onclick="execute('{{ item.id }}')" /></td>
        <td class="col5">  <p id="{{ item.id }}" class="{{ item.result }}" style="height:70px; overflow: hidden; text-overflow: ellipsis;">
            {{ item.comments }}</p><span class='more' id="more{{ item.id }}">read more ...</span>
         <div class='popup' id="popupmore{{ item.id }}" style='display:none'>
    <div>
<button class="close-btn2">X</button>
        <p id="dt{{ item.id }}">{{ item.comments }}</p>



    </div>

</div>
        </td>
    </tr>

 {% endfor %}
</table>

{% endblock %}