#header{
				background-color: lightblue;
				width:100%;
				height:50px;
				text-align: center;
			}
			#sidebar-left{
				float:left;
				width:15%;
				background-color: #111;
				padding-top: 20px;

			}
			#main{
				float:left;
				width:85%;
				background-color: lightgray;
				padding-top: 20px;

			}
			#sidebar-right{
				float:left;
				width:5%;
				background-color: red;
			}
			#footer{
				clear:both;
				height: 50px;
				width: 100%;
				text-align: center;
				background-color: lightblue;
			}
			#sidebar-left, #main, #sidebar-right{
				min-height: 600px
			}

			.sidenav a {
                padding: 10px 10px 10px 10px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .main {
                margin-left: 160px; /* Same as the width of the sidenav */
                font-size: 28px; /* Increased text to enable scrolling */
                padding: 0px 10px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }

#container{
width: 100%;
height:100%
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.bgimg {
   align:center
   top: 0;
   width:50px;
   height:40px;
   cursor: pointer;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.th1{
 width:5%
}
.th2{
 width:25%
}
.th3{
 width:25%
}

.th4{
 width:5%
}
.th5{
 width:40%
}

.FAILED{
background-color:red
}

.SUCCEEDED{
background-color:green
}

.popup {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    left:0;
}
.popup div {
    margin:0 auto;
    width:600px;
    height:200px;
    padding:30px;
    margin-top:15px;
    background-color:white;
    border-radius:15px;
}
.popup p {
    margin:0 auto;
    width:500px;
    text-align:center;
    white-space : normal;
}
.close-btn2{
top:0;
left:0;
color:red;
font-weight:bold;
}
.more{
cursor: pointer;
text-decoration: underline;
color:blue
}

.app-title{
 float:right
}